* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limita-largura {
  max-width: 1024px;
  margin: 0 auto;
}

.modo-escuro {
  background-color: #000;
  color: #fff;
}

.modo-claro {
  background-color: #fff;
  color: #000;
}