* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.limita-largura {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.links-topo a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

.logo {
    display: flex;
}

.logo img {
    width: 80px;
}



