body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Poppins;
}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
}

header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

header img {
    width: 150px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin: 0 5px;
    padding: 5px;
}

section {
    padding: 60px 20px;
}

.capa {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('img/bg-estacao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.capa div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 60px 20px;
    z-index: 1;

}

.capa h1, h2 {
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
}

.capa h1 {
    font-size: 80px;
}

.capa h2 {
    font-size: 35px;
}

.capa::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

#sobre {
    text-align: center;
}

#sobre p {
    text-align: justify;
}

#sobre img {
    width: 100%;
}

#sobre p::first-letter {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 40px 0;
}

ul {
    padding: 0;
}

#pontos-turisticos p::first-letter {
    font-size: 18px;
    font-weight: bold;
}

li {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

li::before {
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("img/seta.png");
    margin: 0 6px 0 0;
}

#pontos-turisticos {
    background-color: #e9e9e9;
}

.galeria {
    width: 100%;
}

.galeria img {
    width: calc((100% / 3) - 3px);
    opacity: 0.6;
}

.galeria img:hover {
    opacity: 1;
}

footer {
    width: 100%;
    background-color: #f5c002;
    text-align: center;
    padding: 20px 0;
}